* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html,body {
    max-height: 100vh;
    min-height: 100vh;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    /** TODO: CAMBIAR PORTADA **/
    background-size: cover;
}

.container .filtro {
    background-color: rgba(255,255,255,0.8);
    width: 100%;
    height: 100%;
}

.container .conAbsolut {
    position: absolute;
    top: 50px;
    width: 60%;
    left: calc(100% - 80%);
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    vertical-align: center;
}

.container .conAbsolut h1 {
    width: 100%;
    text-align: center;
    padding: 15px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

.container .conAbsolut .portada {
    background-image: url("https://images.genius.com/01316d8d59d9d86aa5d06ccb9ae1de33.1000x1000x1.png");
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0 0 1px #ccc;
    background-size: contain;
}

.divBarra {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#controles {
    width: 100%;
    margin: 0 auto;
}

.barra {
    margin-top: 50px;
    width: 90%;
    height: 6px;
    border-radius: 15px;
    background-color: #cccccc;
}

#tiempo {
    text-align: center;
    width: 100%;
    padding: 15px;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: bold;
}

.container .conAbsolut #controles .btnControllers {
    background-image: url("../resources/icons/pause.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    transition: 0.1s ease-in-out;
}

.btnControllers:hover,
.btnNext:hover{
    transform: scale(1.1);
    filter: grayscale(100%);
}


.btnControllers:link{
    filter: blur(50%);
}

.btnPrev {
    background-image: url("../resources/icons/next-button.png");
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotateY(3.142rad);
    margin-top: 10px;
    margin-right: 10px;
    width: 70px;
    height: 70px;
}

.btnPrev:hover {
    transform: rotateY(3.142rad);
    filter: grayscale(100%);
}


.btnNext {
    background-image: url("../resources/icons/next-button.png");
    background-size: contain;
    width: 70px;
    margin-top: 10px;
    margin-left: 10px;
    background-repeat: no-repeat;
    height: 70px;
}

.contenedorBtn {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    vertical-align: center;
}

header {
    background-color: #001;
    padding: 10px 25px;
    color: white;
    display: flex;
    justify-content: left;
}

header h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin-left: 35px;
}

header .btnBack:hover {
    display: block;
    cursor: pointer !important;
    color: darkslategrey;
}

.grid {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    flex-wrap: wrap;
    align-content: space-around;
}

.grid .item {
    width: 150px;
    height: 170px;
    margin-top: 50px;
    position: relative;
}

.item .img {
    height: 90%;
    width: 100%;
    border-radius: 0.5rem;
    /*background-image: url("https://images.genius.com/01316d8d59d9d86aa5d06ccb9ae1de33.1000x1000x1.png");*/
    background-size: contain;
    background-repeat: no-repeat;
}

.item span {
    position: absolute;
    bottom: 20px;
    right: 0;
    color: white;
    font-size: 50px;
    box-shadow: 0 0 2em #ccc;
    clip-path: circle();
    transition: 0.2s ease-in-out;
}

.item span:hover {
    transform: scale(1.1);
    color: #000011;
    cursor: pointer;
}

.item .subtitle {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

.subtitle p:nth-child(1){
    color: #000011;
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    overflow: hidden;
}

.subtitle p:nth-child(2) {
    font-size: 13px;
    display: inline-block;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}

.loadBox {
    position: absolute;
    top: 0;
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    vertical-align: center;
    align-items: center;
}

.loadBox img {
    max-width: 50px;
    max-height: 50px;
}

.loadBox label {
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.cancion {
    background-color: #000011;
    width: 100%;
    padding: 15px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cancion span {
    color: white;
    font-size: 25px;
}

.cancion p {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 15px;
    color: white;
}